<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Test1">
    <classes>
        <class name="com.wordpress.tests.LoginTests">
            <methods>
                <include name="logInwithUserName"/>
                <include name="logInwithEmail"/>
                <include name="logInWithWrongCredentials"/>
                </methods>
        </class>
        <class name = "com.wordpress.tests.ProfileTests">
           <methods>
               <include name="editProfileFirstName"/>
               <include name="editProfileLastName"/>
               <include name="editProfileDisplayName"/>
           </methods>
        </class>
    </classes>
  </test>  
</suite>